@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Akaya+Telivigala&display=swap');


h1, h2 {
    font-family: 'akaya telivigala', sans-serif, arial;
    text-transform: uppercase;
    color: rgb(126, 38, 38)
}

h1 {
    text-align: center;
    font-size: 250%;
}

nav {
    font-family: 'abhaya libre', Courier, monospace;
    float: left;
    color: rgb(126, 38, 38);
    font-size: 150%;
    padding-top: 30px;
    text-transform: uppercase;
}