@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    letter-spacing: 1px;
    font-family:'abhaya libre', Courier, sans-serif; 
    color: rgb(134, 7, 7);
}
/* heading */
h1, h2 {
    font-family: 'Roboto slab', sans-serif, arial;
    text-transform: uppercase;
    color: rgb(126, 38, 38)
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

#heading {
    text-align: center;
    font-size: 250%;
}
/* navigation link */

#links ul {
    font-family: 'abhaya libre', Courier, sans-serif;
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    margin-right: 30px;
}

#links li {
    list-style-type: none;
    display: inline;
    word-spacing: 8px;
}

#links a {
      text-decoration: none;
      color: rgb(126, 38, 38);
}

#links a:hover {
    color: #D19EA4;
    border-bottom: 3px solid #D19EA4;
}

/* image of mushrooms */

#mushrooms img {
    height: auto;
    width: 100%;
}
/* edible mushroom */
.column1 {
    display: flex;

}

.column {
     box-sizing: border-box;
     max-width: 50%;
}

#edible {
    float: left;
}
.img-mushroom {
    width: 10%;
    float: left;
    margin-left: 5px;
    height: 120px;
    padding-bottom: 10px;
}


/* poisonous mushroom */

#poisonous {
    float: right;
}


.right-img-mushroom {
    width: 12%;
}
