@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    letter-spacing: 1px;
    font-family:'abhaya libre', Courier, sans-serif; 
    color: rgb(134, 7, 7);
}
/* heading */
h1, h2 {
    font-family: 'Roboto slab', sans-serif, arial;
    text-transform: uppercase;
    color: rgb(126, 38, 38);
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

#heading {
    text-align: center;
    font-size: 250%;
}
/* navigation link */

#links ul {
    font-family: 'abhaya libre', Courier, sans-serif;
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    margin-right: 1.8rem;
}

#links li {
    list-style-type: none;
    display: inline;
    word-spacing: 0.5rem;
}

#links a {
      text-decoration: none;
      color: rgb(126, 38, 38);
}

#links a:hover {
    color: #D19EA4;
    border-bottom: 3px solid #D19EA4;
}

/* image of mushrooms */

#mushrooms img {
    height: auto;
    width: 100%;
    background-color: #FFEBED;
}
/* columns */
.column1 {
    display: flex;
}

.column {
    box-sizing: border-box;
    width: 50%;
}
/* edible mushrooms */
#edible {
    float: left;
    padding-bottom: 0.6rem;
    position: relative;
}

.img-mushroom {
    width: 25%;
    float: left;
    height: 120px;
    padding-right: 0.6rem;
}

#edible h3{
    text-align: left;
    margin-left: 4rem;
    text-decoration: 1px underline #9B3255;
    font-size: x-large;
    color: #9B3255;
}

#edible p {
    width: 80%;
    padding-left: 7rem;
    margin-bottom: 1.5rem;
}

/* poisonous mushroom */

#poisonous {
    float: right;
    padding-bottom: 0.5rem;
    position: relative;
}


.right-img-mushroom {
    width: 25%;
    float: left;
    height: 120px;
}

#poisonous h3{
    text-align: left;
    margin-left: 10rem;
    text-decoration: 1px underline #9B3255;
    font-size: x-large;
    color: #9B3255;
}

#poisonous p {
    width: 75%;
    margin-left: 10rem;
    margin-bottom: 1rem;
}

/* footer and social network links */

footer {
    height: 80px;
    background-color: #FFEBED; 
    margin-top: 1rem;
}

.social {
    text-align: center;
}

.social li {
    list-style-type: none;
    display: inline;
    word-spacing: 0.5rem;
}

.social a {
    font-size: 150%;
    margin: 3px;
    padding: 5%;
    color: #B5717A;
}
/*Form*/
.info_form {
    clear: left;
    background-image: url(../gallery/mushrooms2.png);
    background-size: cover;
    height: 35rem;
}

#form_outline {
    margin: 10% 2px 0 0;
    color: #9B3255;
    background-color: rgba(255, 235, 237, 0.8);
    max-width: 20rem;
    position: absolute;
    left: 10%;
    padding: 30px;
}

#form_outline h2


/* Media queries, for larger screen 1200 px wide and down*/

@media screen and (max-width: 1200px) {
   #mushroom-style {
       overflow: auto; 
   }

   .column {
       flex-direction: column;
   }

    .column1 {
        flex-direction: column;
    }

    #edible p, #poisonous p {
        text-align: justify;
        width: 150%;
        padding-bottom: 5%;
    }

    .img-mushroom, .right-img-mushroom {
        width: 50%;
        height: auto;
        padding: 0 auto; 
        margin-right: 12px;
        padding-bottom: 15px;
        text-align: justify;
    }
}
  

/* media queries for medium screens from 950px wide and down */

@media screen and (max-width: 950) {
    #mushroom-style {
        width: 100%;
        margin: 0 auto; 
        clear: both; 
    }
   
    #poisonous, #edible {
        text-align: justify;
        width: 60%;
    }

    #edible h3, #poisonous h3 {
        width: 120%; 
    }
    .img-mushroom, .right-img-mushroom {
        display: block;
        margin: 0 auto; 
        width: 100%;
    }
  
 }

 @media screen and (max-width: 300) {
 }